{#
/**
* @file
* Default theme implementation to display the file entity as a video tag.
*
* Available variables:
* - video: An array of video attributes.
*
* @ingroup themeable
*/
#}

<video-js
  id="video-js-{{ video.id }}"
  class="video-js"
  preload="metadata"
  poster="{{ video.poster }}"
  data-setup='{"html5":{"hls": {"smoothQualityChange": true}},"fluid": true,"aspectRatio":"{{ video.width }}:{{ video.height }}"}'
  {{ attributes }}>
  <source src="{{ video.uri }}" type='application/x-mpegURL'>
  <p class="vjs-no-js">
    {% trans %}
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    {% endtrans %}
  </p>
</video-js>
<script>
  var player = videojs('video-js-{{ video.id }}');
  player.hlsQualitySelector();
  // only needed, when you want the quality selector. Otherwise you can skip the whole script block
</script>


